<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>QODR HQ</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="username" [(ngModel)] = "user.username" class="form-control input-underline input-lg" id="" placeholder="User Name">
                    </div>

                    <div class="form-group">
                        <input type="text" name="email" [(ngModel)] = "user.email" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" name="password" [(ngModel)] = "user.password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>
                </div>
                <div style="color:red;">{{response_msg}}</div>
                <a class="btn rounded-btn" (click)="SignupUser()"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
